:root {
  font-family: 'Comfortaa', sans-serif;
  color: #212121;

  @media (prefers-color-scheme: dark) {
    color: #fff;
    background-color: #212121;
  }
}

html,
body {
  block-size: 100%;
  display: grid;
  margin-block: 0;
}

app-root {
  place-self: center;
  text-align: center;
  font-size: 0.8rem;
  contain: content;
  cursor: pointer;
  pre {
    text-wrap: wrap;
    span {
      font-family: 'Comfortaa';
      font-weight: 700;
    }
  }
}
